*{
    margin: 0;
    padding: 0%;
}
h1{
    background-color: aqua;
    color: black;
    border: 200px;
    margin-bottom: 50px;
}
div{

    background-color: bisque;
}
ul{
    padding: 60px;
    background-color: blue;
    justify-content: space-around;
}